APP_NAME=Wasiyuq
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8080

APP_TIMEZONE=America/Lima
APP_LOCALE=es
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=es_PE

DB_CONNECTION=sqlsrv
DB_HOST=sqlserver
DB_PORT=1433
DB_DATABASE=wasiyuq
DB_USERNAME=sa
DB_PASSWORD=

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379
REDIS_CACHE_DB=1
REDIS_QUEUE_DB=2
REDIS_SESSION_DB=3

MINIO_ROOT_USER=wasiyuq
MINIO_ROOT_PASSWORD=
MINIO_ENDPOINT=http://minio:9000
MINIO_BUCKET=wasiyuq
MINIO_KEY=wasiyuq
MINIO_SECRET=
MINIO_REGION=us-east-1
MINIO_USE_PATH_STYLE_ENDPOINT=true

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=noreply@wasiyuq.pe
MAIL_FROM_NAME="${APP_NAME}"

SESSION_DRIVER=redis
SESSION_CONNECTION=session
SESSION_LIFETIME=120

CACHE_STORE=redis

QUEUE_CONNECTION=redis

FILESYSTEM_DISK=local
FILESYSTEM_CLOUD=minio

VITE_APP_NAME="${APP_NAME}"
