APP_NAME=Wasiyuq
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://wasiyuq.raox.cc

APP_TIMEZONE=America/Lima
APP_LOCALE=es
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=es_PE

DB_CONNECTION=sqlsrv
DB_HOST=127.0.0.1
DB_PORT=1433
DB_DATABASE=wasiyuq
DB_USERNAME=sa
DB_PASSWORD=

SESSION_DRIVER=file
SESSION_LIFETIME=120

CACHE_STORE=file

QUEUE_CONNECTION=sync

MAIL_MAILER=log
MAIL_FROM_ADDRESS=noreply@wasiyuq.pe
MAIL_FROM_NAME="${APP_NAME}"

FILESYSTEM_DISK=local

VITE_APP_NAME="${APP_NAME}"
